{% extends 'header.html' %}

{% block content %}
<div class="contaniner-fluid mt-2">
    <div class="row mx-auto">
        <!-- filter category shows -->
        <div class="col-lg-2 ">
            <div class="list-group">
                {% for category in Categorys %}
                <a href="{% url 'get_product_by_category' category.id %}" class="list-group-item list-group-item-action">{{category.name}}</a>
                <small>{{category_id}}</small>
                {% endfor %}
            </div>
        </div>

        <!-- all products shows -->
        <div id="product" class = "col-lg-10">
            <div class="row mx-auto">
                {% for product in products %}
                <div class="card mx-auto mb-4 text-center" style="width: 15rem;">
                    <img src="{{product.image.url}}" class="card-img-top " alt="...">
                    <div class="card-body ">
                        <h5 class="card-title">{{product.name}}</h5>
                        <h5 class="card-title"><b>${{product.price}}</b></h5>
                        <p class="card-text">{{product.description}}</p>
                        <a href="#" class="btn btn-light border btn-sn">Add To Cart</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}


    
